@model DecisionUpdateDto

<div class="container-fluid">
    <div class="table-title text-white  d-block d-sm-flex">
        <div>
            <h1 class="title"> Decision<span>@ViewData["Title"]</span></h1>
        </div>
        <div class="back-to-list">
            <a class="btn btn-success " title="back to list" asp-action="Index"><i class="fa-solid fa-list"></i></a>
        </div>
    </div>
    <div class="container shadow form-container mt-5">

        <form method="post" class="row" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-lg-7 col-xl-8 ">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-7 col-xl-8 ">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>


</div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial", true);
}

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
