@model ElectionLayoutDto
<section class="mf-breadcrumb">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>

                <li class="breadcrumb-item active " aria-current="page">Voting Bulletein</li>
            </ol>
        </nav>
    </div>
</section>