@model VoterLoginDto
<div class="login__container mb-5 mt-5 d-flex justify-content-center">
    <section id="contact">

        <h1 class="section-header">IVoting Login</h1>

        <div class="contact-wrapper">

            <!-- Left contact page -->

            <form id="contact-form" class="form-horizontal" role="form">

                <div class="form-group">
                    <div class="col-sm-12">
                        <input asp-for="FinCode"  class="form-control"  placeholder="FIN" name="name"  required/>
                        <span asp-validation-for="FinCode" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input  asp-for="Image" class="form-control"  type="file" required/>
                        <span asp-validation-for="Image" class="text-danger"></span>

                    </div>
                </div>

                <button class="btn btn-primary send-button " id="submit" type="submit" value="SEND">
                    <div class="alt-send-button d-flex justify-content-center align-items-center">
                        <span class="send-text">SEND</span>
                    </div>

                </button>

            </form>

            <!-- Left contact page -->

            <div class="direct-contact-container">

                <ul class="contact-list">
                    <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">City, State</span></i></li>

                    <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">(212) 555-2368</a></span></i></li>

                    <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">hitmeup@gmail.com</a></span></i></li>

                </ul>
            </div>

        </div>

    </section>
</div>


