<div class="page-inner container">
    <h3>Accreditation</h3>
    <div class="page-inner-item">
        <p><strong>Early Presidential Elections of the Republic of Azerbaijan - 07.02.2024</strong></p>
        <table class="table table-hover table-striped shadow">
            <tbody >
                <tr>
                    <th>Document</th>
                    <th>Download (pdf, word)</th>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp; <strong>Application form for International Observers (EN)</strong></td>
                    <td><a href="/uploads/Akreditasiya/prezident2024/1applobservers_en.pdf" target="_blank" rel="noreferrer noopener"><img style="display:block;margin-left:auto;margin-right:auto;" src="~/assets/img/pdf.png" alt=""></a></td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp; <strong>Application form for International Observers (RU)</strong></td>
                    <td><a href="/uploads/Akreditasiya/prezident2024/1applobservers_ru.pdf" target="_blank" rel="noreferrer noopener"><img style="display:block;margin-left:auto;margin-right:auto;" src="~/assets/img/pdf.png" alt=""></a></td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp; <strong>Application form for Interpreters (AZ)</strong></td>
                    <td><a href="/uploads/Akreditasiya/prezident2024/1applinterpreters_az.pdf" target="_blank" rel="noreferrer noopener"><img style="display:block;margin-left:auto;margin-right:auto;" src="~/assets/img/pdf.png" alt=""></a></td>
                </tr>
            </tbody>
        </table>
        <div>&nbsp;</div>
    </div>
</div>