@model PaginatedList<PressNewLayoutDto>
<section class="mf-breadcrumb">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Search</li>


            </ol>
        </nav>
    </div>
</section>
<section class="main-content">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">

                <div class="page-post">
                    <h3>Search results</h3>
                    <div class="page-post-items">
                        <div class="page-post-item">
                            <p class="post-title">
                                <a href="/en/news/view/208" class="link-more">The Central Election Commission (CEC) conducted its session chaired by Mr. Mazahir Panahov on September 2, 2003</a>
                            </p><p> The Central Election Commission (CEC) conducted its session chaired by Mr. Mazahir Panahov on September 2, 2003. After the approval of the agenda of session by commissioners, the minutes of session o...</p>
                        </div>
                        <div class="page-post-item">
                            <p class="post-title">
                                <a href="/en/news/view/205" class="link-more">Seminar for Constituency Election commissioners Regional seminars for Constituency Election commissioners related to Presidential Elections of the Republic of Azerbaijan are continued to be held</a>
                            </p><p> Seminar for Constituency Election commissioners Regional seminars for Constituency Election commissioners related to Presidential Elections of the Republic of Azerbaijan are continued to be held. On ...</p>
                        </div>
                        <div class="page-post-item">
                            <p class="post-title">
                                <a href="/en/news/view/302" class="link-more">The Central Election Commission (CEC) conducted its session chaired by Mr. Mazahir Panahov on August 1, 2003</a>
                            </p><p> The Central Election Commission (CEC) conducted its session chaired by Mr. Mazahir Panahov on August 1, 2003. Mr. Mazahir Panahov reported to the participants of the session on the registration of th...</p>
                        </div>
                        <div class="page-post-item">
                            <p class="post-title">
                                <a href="/en/news/view/172" class="link-more">Central Election Commission of the Republic of Azerbaijan (CEC) conducted its session</a>
                            </p><p> Central Election Commission of the Republic of Azerbaijan (CEC) conducted its session. Report of Mr. Mazahir Panahov, CEC Chairman, on the approval of ID card sample for the registered candidate to p...</p>
                        </div>
                        <br><br>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>