<div>
    <div class="ai-container">
        <h5 class="header__text">AlfaHELP 1.0</h5>
    </div>
    <section id="ai-input-form">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="center-icon-div">
           <div class="icon__container">
                <img style="min-width:89x;max-width:100px;" src="~/assets/img/ai-icon.png" />
           </div>
            <h3>How can I help you today?</h3>
        </div>
        
        <div>
                <div class="d-flex align-items-center justify-content-start">
                    <img style="max-width:40px;" src="~/assets/img/ai-icon.png" />
                    <h5>AlfaHELP</h5>
                </div>
                <div id="chatAnswer"></div>
        </div>
    </div>
        <div class="container ">
            <div class="ai-form-container">
                <div class="  ai__form">
                    <textarea id="chatInput" class="ai__textarea" placeholder="Message AlfaHELP..." type="text" autocomplete="off"></textarea>
                    <button id="chatButton" class="ai-input-btn"><i class="fa-solid fa-arrow-up "></i></button>
                </div>
            </div>
            <div class="container d-flex justify-content-center align-items-center mt-3">
                <p class="text__warning">AlfaHELP can make mistakes. Consider checking important information.</p>
            </div>
        </div>
    </section>
</div>
