@model List<ChatLayoutDto>
@{
    Layout = "_EmptyLayout";
}
<div class=" navbar navbar-light">
    <button class="hamburger me-2 d-lg-none">
        <div class="bar"></div>
    </button>

</div>
<div class="d-flex  aling-items-center justify-content-center ms-2">
    <h4 class="header__text me-5 mb-2">
        <img src="~/assets/img/ai-icon.png" class="chat__logo" /> AlfaHELP 1.0
    </h4>
</div>

<nav class="questions__container nav-mobile">

    <div class="ai-container h-100 ">

        <div class="questions">
            <ul class="list">
                @foreach(var item in Model)
                {
                    <li class="list-item">
                        @(item.Question.Length>20 ?item.Question.Substring(0,19) : item.Question)
                        <div class="question-buttons">
                            <i class="fa-solid fa-trash"></i>
                            <i class="fa-solid fa-pen-to-square"></i>
                        </div>
                    </li>
                }

            </ul>
        </div>
        <div class="questions__footer">
            <hr />
            <div class="profile__block">
                <div id="userProImage1"></div>
                <h5 class="ms-2" id="UserName">@User.Identity.Name</h5>
            </div>
        </div>
    </div>
</nav>
<div class="chat-section">

    <section id="ai-input-form d-flex justify-content-center align-items-center chat_container">
        <div id="chatContainer" class="container  chat_container">
            <div class="w-100 d-flex align-items-center justify-content-center">
                <div id="ai-logo" class="center-icon-div mt-5">
                    <div class="icon__container">
                        <img style="min-width:89x;max-width:100px;" src="~/assets/img/ai-icon.png" />
                    </div>
                    <div class="w-100 d-flex justify-content-center">
                        <h3>How can I help you today?</h3>
                    </div>
                </div>
                <div class="question-answer-area">
                    <div class="user__container " id="userAnsContainer">
                        <div class="d-flex jusify-content-center w-75">
                            <div class="d-flex align-items-center justify-content-start text-align-center ai-profile">
                                <div id="userProImage2"></div>
                                <h5 class="ms-2" id="UserName">@User.Identity.Name</h5>
                            </div>
                        </div>
                        <div class="ms-3" id="userQuestion"></div>
                    </div>

                    <div class=" logo__container" id="answerContainer">
                        <div class="d-flex jusify-content-center w-75">
                            <div class="d-flex align-items-center justify-content-start text-align-center ai-profile">
                                <img style="max-width:25px;" src="~/assets/img/ai-icon.png" />
                                <h3 class="ms-2">AlfaHELP</h3>
                            </div>
                        </div>
                        <div class="ms-3 mb-5" id="chatAnswer"></div>
                    </div>
                </div>
            </div>

            <div class="container  ai-bottom">
                <div class="ai-form-container">
                    <div class="  ai__form">
                        <form id="aiForm">
                            <textarea id="chatInput" class="ai__textarea " placeholder="Message AlfaHELP..." autocomplete="off"></textarea>
                            <button id="chatButton" class="ai-input-btn"><i class="fa-solid fa-arrow-up "></i></button>
                        </form>
                    </div>
                </div>
                <div class="container d-flex justify-content-center align-items-center mt-3">
                    <p class="text__warning">AlfaHELP can make mistakes. Consider checking important information.</p>
                </div>
            </div>
        </div>

    </section>
</div>
