@model MSK.Business.DTOs.ForgetPasswordDto

@{
    ViewData["Title"] = "ForgetPassword";
}


<div class="container mt-5 mb-5" style="min-height:300px;max-height:700px; ">
    <div class="row">
        <div class="alert alert-info col-md-4 mb-4 " role="alert">
            <p>Forgor your password? <br> No worries you can change easly</p>
        </div>
    </div>
    <div class="row">
       
        <div class="col-md-4">
            @if (Model?.EmailSent == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>
                        If you registered with us,<br />
                        We have sent email to your email address!
                    </p>
                </div>

            }
            else
            {
                <div>Regsitered Email Address</div>
                <form asp-action="ForgetPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">

                        <input asp-for="Email" class="form-control" placeholder="Email..." />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Continue" class="btn btn-primary" />
                    </div>
                </form>
            }
            <div class="d-flex">
                <span class="">Back to    </span>  <a class="ms-2" asp-action="login" asp-controller="account"> Login</a>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");

}

