@model RegisterModelDto
<div class="container  login-register">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card  border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image">
                            <img src="~/admin/img/mskadmin.png" />
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                
                                <div asp-validation-summary="ModelOnly"></div>
                                <form method="post">
                                    <div class="form-group">
                                        <input asp-for="FullName"  class="form-control form-control-user"placeholder="Fullname">
                                        <span asp-validation-for="FullName"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="UserName"  class="form-control form-control-user"
                                               placeholder="Username">
                                        <span asp-validation-for="UserName"></span>

                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Email" type="email" class="form-control form-control-user"
                                               placeholder="Enter Email Address...">
                                        <span asp-validation-for="Email"></span>


                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Password" type="password" class="form-control form-control-user"
                                               placeholder="Password">
                                        <span asp-validation-for="Password"></span>


                                    </div>
                                    <div class="form-group">
                                        <input asp-for="ConfirmPassword" type="password" class="form-control form-control-user"
                                               placeholder="Confirm Password">
                                        <span asp-validation-for="ConfirmPassword"></span>
                                    </div>
                                  
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Register
                                    </button>
                                    <hr>
                                    <a href="index.html" class="btn btn-google btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> Login with Google
                                    </a>
                                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>