@model MSK.Business.DTOs.ResetPasswordDto

@{
    ViewData["Title"] = "ResetPassword";
}

<h3>Reset Password</h3>
<div class="container mt-5 mb-5" style="min-height:300px;max-height:700px; ">
    <div class="row">
        <div class="col-md-4">
            @if (Model?.Succeeded == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>
                        You have updated password succesfully!
                    </p>
                </div>
            }
            else
            {
                <form asp-action="ResetPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="UserId" type="hidden" class="form-control" />
                    <input asp-for="Token" type="hidden" class="form-control" />
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmNewPassword" class="control-label"></label>
                        <input asp-for="ConfirmNewPassword" class="form-control" />
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Reset Password" class="btn btn-primary" />
                    </div>
                </form>
            }
        </div>
        <div class="d-flex">
            <span class="">Back to    </span>  <a class="ms-2" asp-action="login" asp-controller="account"> Login</a>
        </div>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
