@model MSK.Business.DTOs.ResetPasswordDto

@{
    ViewData["Title"] = "ResetPassword";
}
<div class="bg-gradient-primary mb-5">

    <h3>Reset Password</h3>

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image">
                                <img src="~/admin/img/mskadmin.png" />
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    @if (Model?.Succeeded == true)
                                    {
                                        <div class="alert alert-success" role="alert">
                                            <p>
                                                You have updated password succesfully!
                                            </p>
                                        </div>
                                    }
                                    else
                                    {
                                        <form asp-action="ResetPassword">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input asp-for="UserId" type="hidden" class="form-control" />
                                            <input asp-for="Token" type="hidden" class="form-control" />
                                            <div class="form-group">
                                                <label asp-for="NewPassword" class="control-label"></label>
                                                <input asp-for="NewPassword" class="form-control" />
                                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="ConfirmNewPassword" class="control-label"></label>
                                                <input asp-for="ConfirmNewPassword" class="form-control" />
                                                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Reset Password" class="btn btn-primary" />
                                            </div>
                                        </form>
                                    }
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" asp-controller="account" asp-action="register">Create an Account!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" asp-action="login" asp-controller="account">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
