@model HomeSlideCreateDto
<div class="container-fluid">
    <div class="table-title text-white  d-block d-sm-flex">
        <div>
            <h1 class="title">News <span>@ViewData["Title"]</span></h1>
        </div>
        <div>
            <a class="btn btn-success create-btn" style="min-width:150px !important;" asp-action="Index">Back to List</a>
        </div>
    </div>

    <form method="post" class="row" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-lg-7 col-xl-8 ">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-7 col-xl-8 ">
            <label asp-for="SubDescription" class="control-label"></label>
            <textarea asp-for="SubDescription" class="form-control"></textarea>
            <span asp-validation-for="SubDescription" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-7 col-xl-8">
            <label asp-for="Description" class="control-label"></label>
            <textarea id="news-editor" asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3 position-relative">
            <img width="200" height="300" id="Imgpre" src="https://fakeimg.pl/250x400/?text= Movies Image " alt="Movies Image " />
            <br />
            <br />
            <input type="file" id="ImageIN" asp-for="Image" />
        </div>

        <div class="form-group col-lg-7 col-xl-8 ">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>


</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#ImageIN").change(function () {
                const file = this.files[0];
                const reader = new FileReader();
                reader.onload = function (e) {
                    $("#Imgpre").attr("src", e.target.result);
                }
                reader.readAsDataURL(file);
            });
        });
    </script>
    <script src="~/ckeditor/styles.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>

    <script type="text/javascript">
        CKEDITOR.replace('news-editor')
    </script>
}
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
