@model InfoUpdateDto
@{
    var referendumList = (SelectList)ViewData["referendums"];
    var electionList = (SelectList)ViewData["elections"];

    ViewData["Title"] = "Table";
}
<div class="container-fluid">
    <div class="table-title text-white  d-block d-sm-flex">
        <div>
            <h1 class="title">Information<span>@ViewData["Title"]</span></h1>
        </div>
        <div class="back-to-list">
            <a class="btn btn-success " title="back to list" asp-action="Index"><i class="fa-solid fa-list"></i></a>
        </div>
    </div>
    <div class="container shadow form-container mt-5">

        <form method="post"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-lg-7 col-xl-8 ">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group col-lg-7 col-xl-8 ">
                <label asp-for="ReferendumId" class="control-label">Referendum</label>
                <select asp-for="ReferendumId" asp-items="@referendumList">
                    <option value="">Select an option</option>
                </select>
                <span asp-validation-for="ReferendumId" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-7 col-xl-8 d-block ">
                <label asp-for="ElectionId" class="control-label">Election</label>
                <select asp-for="ElectionId" asp-items="@electionList"> 
                    <option value="">Select an option</option>
                </select>
                <span asp-validation-for="ElectionId" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-7 col-xl-8 ">
                <label asp-for="Pdf" class="control-label"></label>
                <input asp-for="Pdf" class="form-control" />
                <span asp-validation-for="Pdf" class="text-danger"></span>
            </div>



            <div class="form-group col-lg-7 col-xl-8 ">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>


</div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
