
@media (max-width:768px){
    .back-to-list a{
        width:50px;
    }
    .back-to-list a i{
        font-size:25px;
    }
}
@media (min-width:768.005px) {
    .back-to-list a {
        width: 100px;
    }

        .back-to-list a i {
            font-size: 30px;
        }
}