@media(max-width:575px) {
    .header-message p h5 h4 {
        font-size: 16px !important;
    }

    .mf-big-title {
        font-size: 16px !important;
    }
    /*AI support page style*/
    .ai__textarea{
        width:350px;
    }
    .ai__form {
        width: 350px;
    }
    .chat-section{
        display:block;
    }
}

@media(max-width:412px) {
    .header-message p h5 h4 {
        font-size: 13px !important;
    }

    .mf-big-title {
        font-size: 13px !important;
    }
    .ai__textarea {
        width: 300px;
    }
    .ai__form {
        width: 300px;
    }
}

@media only screen and (max-width: 575px) {
    .mf-nav .mf-logo .mf-logo-img {
        margin-right: 10px;
    }

    .mf-logo-img {
        position: relative;
        width: 40px;
        height: 40px;
    }

        .mf-logo-img img {
            position:absolute;
            width: 100%;
            height: 100%;
        }
}
@media (min-width:575.0025px){
    .ai__textarea {
        width: 475px;
    }
    .ai__form{
        width:475px;
    }
}
@media (min-width:850px){
    .ai__textarea {
        width: 750px;
    }
    .ai__form {
        width: 750px;
    }
}
