@media(max-width:575px) {
    .header-message p h5 h4 {
        font-size: 16px !important;
    }

    .mf-big-title {
        font-size: 16px !important;
    }
    /*AI support page style*/
    .ai__textarea {
        width: 350px;
    }

    .ai__form {
        width: 350px;
    }

    .chat-section {
        display: block;
    }
}

@media(max-width:412px) {
    .header-message p h5 h4 {
        font-size: 13px !important;
    }

    .mf-big-title {
        font-size: 13px !important;
    }

    .ai__textarea {
        width: 300px;
    }

    .ai__form {
        width: 300px;
    }
}

@media only screen and (max-width: 575px) {
    .center-icon-div h3 {
        font-size: 14px;
    }

    .chat_container {
        margin-left: 60px;
    }

    .mf-nav .mf-logo .mf-logo-img {
        margin-right: 10px;
    }

    .mf-logo-img {
        position: relative;
        width: 40px;
        height: 40px;
    }

        .mf-logo-img img {
            position: absolute;
            width: 100%;
            height: 100%;
        }
}

@media (min-width:575.0025px) {
    .center-icon-div h3 {
        font-size: 16px;
    }

    .chat_container {
        margin-left: 200px;
    }

    .ai__textarea {
        width: 475px;
    }

    .ai__form {
        width: 475px;
    }

    #ai-logo {
        margin-left: 150px;
    }
}

@media (min-width:850px) {
    .center-icon-div h3 {
        font-size: 25px;
    }

    .ai__textarea {
        width: 750px;
    }

    .ai__form {
        width: 750px;
    }
}
/* Begin Media Queries*/
@media screen and (max-width: 850px) {
    .contact-wrapper {
        display: flex;
        flex-direction: column;
    }

    .direct-contact-container, .form-horizontal {
        margin: 0 auto;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }

    .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }

        .social-media-list li:after {
            width: 60px;
            height: 60px;
            line-height: 60px;
        }
}

@media screen and (max-width: 569px) {

    .direct-contact-container, .form-wrapper {
        float: none;
        margin: 0 auto;
    }

    .form-control, textarea {
        margin: 0 auto;
    }


    .name, .email, textarea {
        width: 280px;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }

    .social-media-list {
        left: 0;
    }

        .social-media-list li {
            height: 55px;
            width: 55px;
            line-height: 55px;
            font-size: 2rem;
        }

            .social-media-list li:after {
                width: 55px;
                height: 55px;
                line-height: 55px;
            }
}

@media screen and (max-width: 410px) {
    .send-button {
        width: 99%;
    }
}
/*hamburger menu style*/
@media (min-width :992px) {
    .nav-mobile {
        position: static;
        right: 0;
        width: 66%;
        display: flex !important;
        justify-content: space-between !important;
        background-color: none;
    }
    .chat-section {
        position: absolute;
        left: 200px;
    }
    .ai-container {
        position: fixed;
        top: 0;
        left: 0;
        display: grid;
        max-width: 280px;
        width: 100%;
        height: 511px;
        background-color: #f5f5f5;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
}

@media (max-width :991.98px) {
    .nav-mobile {
        position: fixed;
        display: block;
        left: -100%;
        top: 0px;
        gap: 0;
        flex-direction: column;
        width: 30%;
        text-align: center;
        transition: 0.4s;
        z-index: 20;
    }
    .ai-container {
        display:inline-block;
        max-width: 280px;
        width: 100%;
        height: 511px;
        background-color: #f5f5f5;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
}
