
textarea {
    resize: none;
}

.header__text {
    position: relative;
   
}

.center-icon-div {
    margin-top: 30px;
    min-height: 350px;
}

    .center-icon-div img {
        margin: auto;
    }

.icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.ai__textarea:focus {
    outline:none;
 }

.text__warning {
    font-size: 10px;
    color: #828C8D;
}
.ai-input-btn{
    border-radius:4px ;
    border-color:black;
    width:30px;
    height:30px;
    background-color:black;
}
.ai-input-btn i{
    color:white;
}

.ai__form {
    position:relative;
    

}
.ai__form button {
    position: absolute;
    right:20px !important;
    top:10px;

}
.ai-form-container{
    display:flex;
    justify-content:center;
    text-align:center;
}
.ai__form h5{
    margin-bottom:0;
}

h5{
    margin:0;
}
.logo__container {
    width: 700px;
    margin: auto;
    display: none;
}
.user__container {

    min-height: 170px;
    display: none;
}
.ai-profile {
    display: none;
}
#userProImage {

    width: 27px;
    height:27px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 50%;
    background: #512DA8;
    font-size: 13.5px;
    color: #fff;
    text-align: center;
    line-height: 10px;
 
}
.question-answer-area {
    margin-left:200px ;
    margin-top:100px;
}
 /*ai sidebar style start*/
textarea {
    resize: none;
}




.questions__container {
  
    position: relative;
}

    .questions__container .questions {
        height: 50vh;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-top: 20px;
        margin-bottom:20px;
    }

.questions .list {
    padding: 0;
}

    .questions .list li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 15px;
        margin-bottom: 5px;
        border-radius: 10px;
        transition: all 0.4s ease;
        cursor: pointer;
    }

        .questions .list li .question-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            opacity: 0;
            transition: all 0.4s ease;
        }

        .questions .list li:hover .question-buttons {
            opacity: 1;
        }

        .questions .list li:hover {
            background-color: #eeeded;
        }

.questions__container .questions::-webkit-scrollbar {
    width: 0;
}

.header__text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size:20px;
    margin-bottom:10px;
}
.header__text img{
width:32px;
}

    .center-icon-div {
        margin-top: 30px;
        min-height: 350px;
    }

    .center-icon-div img {
        margin: auto;
    }

.icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat__logo {
    width: 50px;
    display: block;
}

.questions__footer {
    max-width: 240px;
    position: absolute;
    width: 100%;
    bottom: 30px;
}

.profile__block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
}

    .profile__block .profile__logo {
        display: block;
        border-radius: 50%;
        width: 65px;
    }

    .profile__block .profile__name {
        margin-top: 12px;
    }

.ai-input-form {
    width: 100%;
    background-color: #eeeded;
}


    .ai__textarea:focus {
        outline: none;
    }

.text__warning {
    font-size: 10px;
    color: #828c8d;
}

.ai-input-btn {
    border-radius: 4px;
    border-color: black;
    width: 30px;
    height: 30px;
    background-color: black;
}

    .ai-input-btn i {
        color: white;
    }

.ai__form {
    position: relative;
}

    .ai__form button {
        position: absolute;
        right: 20px !important;
        top: 10px;
    }

.ai-form-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.ai__form h5 {
    margin-bottom: 0;
}

h5 {
    margin: 0;
}



.ai-profile {
    display: none;
}
/*hamburger menu design start
*/
/*hamburger menu*/
.hamburger {
    position: relative;
    display: block;
    width: 40px;
    height: 33px;
    cursor: pointer;
    appearance: none;
    background: none;
    color:black;
    outline: none;
    border: none;
    z-index:20;
}

    .hamburger .bar, .hamburger:after, .hamburger:before {
        content: "";
        width: 100%;
        height: 3px;
        display: block;
        background-color: black;
        color:black;
        margin: 6px 0px;
        transition: 0.4s;
        opacity:0.5;
    }

    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-8px,4px);
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-6px,-6px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }



.nav-mobile.active {
    left: 0;
}


.o-hidden{
    overflow:hidden;
    opacity:0.5;
}

.dark-back {
    content: "";
    background-color: black;
    position: fixed;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.scroll-answer {
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ai-bottom{
    position:fixed;
     bottom:0px;
}
.chat-section{
    position:absolute;
    left:200px;
   

}

