textarea {
    resize: none;
}

.ai-container {
    position: absolute;
}

.header__text {
    position: relative;
    top: 20px;
    left: 30px;
}

.center-icon-div {
    margin-top: 30px;
    min-height: 350px;
}

    .center-icon-div img {
        margin: auto;
    }

.icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai__textarea {
    border-block-color: #798788;
    border-radius: 30px;
    min-width: 250px;
    max-height: 50px;
    font-size:14px;
    padding-left: 20px;
    padding-top: 15px;
    overflow:hidden;
    resize:none;
    padding-right:55px;
}

.ai__textarea:focus {
    outline:none;
 }

.text__warning {
    font-size: 10px;
    color: #828C8D;
}
.ai-input-btn{
    border-radius:4px ;
    border-color:black;
    width:30px;
    height:30px;
    background-color:black;
}
.ai-input-btn i{
    color:white;
}

.ai__form {
    position:relative;
    

}
.ai__form button {
    position: absolute;
    right:20px !important;
    top:10px;

}
.ai-form-container{
    display:flex;
    justify-content:center;
    text-align:center;
}
.ai__form h5{
    margin-bottom:0;
}

h5{
    margin:0;
}
.logo__container {
    width: 700px;
    margin: auto;
    min-height: 400px;
    display: none;
}
.user__container {

    min-height: 170px;
    display: none;
}
.ai-profile {
    display: none;
}
#userProImage {

    width: 27px;
    height:27px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 50%;
    background: #512DA8;
    font-size: 13.5px;
    color: #fff;
    text-align: center;
    line-height: 10px;
 
}
.question-answer-area {
    margin-left:200px ;
    margin-top:100px;
}
 /*ai sidebar style start*/
