/*mf-breadcrumb section style*/
.mf-breadcrumb .breadcrumb-item:not(:first-child):before {
    content: "»" !important;
    float: none;
    position: relative;
    top: -1px;
}

.breadcrumb-item a {
    color: #606161 !important;
}

    .breadcrumb-item a:hover {
        color: #373E40 !important;
        text-decoration: underline;
    }

.azerbaijan.page-azerbaijan .az-flag {
    text-align: center;
    padding-bottom: 30px;
}

.azerbaijan.page-azerbaijan .div-flag img {
    width: 80%;
}

.div-flag {
    height: 500px;
}
