/*Ivoting pages style*/


#contact {
    background: linear-gradient(90deg, rgba(138,26,198,1) 0%, rgba(52,100,176,1) 38%, rgba(59,36,161,1) 99%);
    width: 60%;
    height: 75%;
    border-radius: 14px 0px 14px 0px;
}

.section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
}

/* Left contact page */
.form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
}


.send-button {
    margin-top: 15px;
    margin-left: 11px;
    height: 34px;
    width: 94%;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
}

.send-text {
    display: block;
    margin-bottom: 10px;
    margin-right: 20px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
}

/* Begin Right Contact Page */
.direct-contact-container {
    max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: #aaa;
}

.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #335358;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
}

.contact-text a {
    color: #27aaa2;
    text-decoration: none;
    transition-duration: 0.2s;
}

    .contact-text a:hover {
        color: #fff;
        text-decoration: none;
    }


/* Social Media Icons */



.copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
}

#contact input:focus {
    background: linear-gradient(90deg, rgba(138,26,198,1) 0%, rgba(52,100,176,1) 38%, rgba(59,36,161,1) 99%);
    border: none !important;
    outline: none !important;
}

#contact input {
    background: linear-gradient(90deg, rgba(138,26,198,1) 0%, rgba(52,100,176,1) 38%, rgba(59,36,161,1) 99%);
}
/*footer style*/
.mf-footer .mf-social-icons a.fb {
    background: url(../../img/icons/facebook.svg) no-repeat center;
}

.mf-footer .mf-social-icons a.tw {
    background: url(../../img/icons/twitter.svg) no-repeat center;
}

.mf-footer .mf-social-icons a.yt {
    background: url(../../img/icons/youtube.svg) no-repeat center;
}

.mf-footer .mf-social-icons a.ins {
    background: url( https://www.msk.gov.az/assets/img/icons/instagram.svg) no-repeat center;
}

.mf-footer .mf-social-icons a {
    width: 26px;
    height: 26px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    top: 3px;
}
/*voter login page styleK*/
#helpVideo {
    object-fit: initial;
    border-radius: 10px 0 10px 0;
    height: 400px;
}

#userLoginImage {
    object-fit: cover;
    margin-left: 10px;
}

#camera {
    object-fit: cover;
    width: 350px;
    height: 300px;
    margin-left: 10px;
    background-color: black;
}
/* capture photo  button design */

.glow-on-hover {
    margin-top: 6px;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }

    .glow-on-hover:active {
        color: #000
    }

        .glow-on-hover:active:after {
            background: transparent;
        }

    .glow-on-hover:hover:before {
        opacity: 1;
    }

    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.photo-button {
    display: flex;
    justify-content: center;
}
/*
    login page video helper desing
*/
.direct-contact-container {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}
.play-icon{
    position:absolute;
    width:40px;
    height:40px;
    left:47%;
    right:50%;
    bottom:42%;
    top:42%;
    z-index:2;
   
}
    .play-icon i {
        font-size: 50px;
        color: #9D31E3;
    }
.direct-contact-container a{
   cursor:pointer;
}
/*vote page design start */


.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.avatar-md {
    height: 5rem;
    width: 5rem;
}

.fs-19 {
    font-size: 19px;
}

.primary-link {
    color: #314047;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

a {
    
    text-decoration: none;
}



.favorite-icon a {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #eff0f2;
    border-radius: 6px;
    color: rgba(173,181,189,.55);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}




.fs-14 {
    font-size: 14px;
}

.bg-soft-secondary {
    background-color: rgba(116,120,141,.15) !important;
    color: #74788d !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}
.favorite-icon i {
    
    font-size: 30px;
}

.candidate_section .container {
    background: linear-gradient(90deg, rgba(201,239,238,1) 0%, rgba(228,244,244,0.9360994397759104) 31%, rgba(223,237,240,1) 100%);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    margin-bottom:20px;
    padding-bottom:20px;
}
.candidate_info_btn {
    position: absolute;
    color: #1DFEA9;
    right: 0%;
    top: 0%;
    border: none;
}
.favorite-icon{
    margin-top:20px;
    height:100%;
    width:15%;
}
.favorite-icon a {
    position:absolute;
    margin: auto;
    top: 50%;
    bottom: 50%;
    right: 20px;
    color:brown;
}
/*vote page button style*/


.candidate_submit_button {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
    border-radius:7px 0 7px 0;
}
.candidate_submit_con{
    display:flex;
    padding-bottom:10px;
    justify-content:end;
    align-items:center;
}

.candidate_submit_button:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
}

    .candidate_submit_button::before {
        content: "";
        position: absolute;
        inset: 2px;
        background: #272822;
    }

    .candidate_submit_button span {
        position: relative;
        z-index: 1;
    }

    .candidate_submit_button i {
        position: absolute;
        inset: 0;
        display: block;
    }

        .candidate_submit_button i::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 2px;
            left: 80%;
            top: -2px;
            border: 2px solid var(--clr);
            background: #1D6D63;
            transition: 0.2s;
        }

    .candidate_submit_button:hover i::before {
        width: 15px;
        left: 20%;
        animation: move 3s infinite;
    }

.candidate_submit_button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #1D6D63;
    transition: 0.2s;
}

    .candidate_submit_button:hover i::after {
        width: 15px;
        left: 80%;
        animation: move 3s infinite;
    }

@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes box {
    0% {
        box-shadow: #27272c;
    }

    50% {
        box-shadow: 0 0 25px var(--clr);
    }

    100% {
        box-shadow: #27272c;
    }
}
    /*vote page ratio button style start*/
.checkbox-label{
    position:absolute;
    right:20px;
    top:40%;
    bottom:60%;
}
    .checkbox-label input {
        background-color: brown !important;
        border: 1px solid brown;
        
        width: 20px;
        height: 25px;
    }
    /*vote page ratio button style end*/


