@model HistoryLayoutDto
<section class="mf-breadcrumb">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">Azerbaijan</li>
                <li class="breadcrumb-item active" aria-current="page">History and Culture</li>
            </ol>
        </nav>
    </div>
</section>

<section class="main-content">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">

                <div class="page-inner">
                    <h3>History and Culture</h3>
                    <div class="page-inner-item">
                        <div class="azerbaijan ">
                          @Html.Raw(Model.InfoStart)
                            @Html.Raw(Model.InfoMiddle)

                            <div align="center">
                                @Html.Raw(Model.InfoEnd)

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>