<section class="mf-breadcrumb">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/en">Home</a></li>
                <li class="breadcrumb-item"><a href="/en/pages/view/history-and-culture">Azerbaijan</a></li>
                <li class="breadcrumb-item active" aria-current="page">History and Culture</li>
            </ol>
        </nav>
    </div>
</section>

<section class="main-content">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">

                <div class="page-inner">
                    <h3>National Attributes</h3>
                    <div class="page-inner-item">
                        <div class="azerbaijan page-azerbaijan">
                            <div>
                                <h2>The Flag of the Republic of Azerbaijan</h2>
                                <div class="az-flag"><img src="/uploads/msk_images/6e12143b280708428a836a224ed0e248_DA6C45-A738FD-6453EE-80F367-D5A584-EF82D6.png" alt="6e12143b280708428a836a224ed0e248_DA6C45-A738FD-6453EE-80F367-D5A584-EF82D6.png" width="100%"></div>
                                <p style="text-align:justify;">The Three-coloured State banner in Azerbaijan was first accepted on November 9, 1918 by the decision of the Government of the Democratic Republic of Azerbaijan. On April 28, 1920 after the fall Of the Democratic Republic of Azerbaijan and establishment of Soviet power it was refused from this banner in Azerbaijan. For the second time this banner was restored by the decision of the Supreme Majlis of the Nakchivan Autonomous Republic on November 17, 1990 and was accepted as the State banner of the Autonomous Republic. At the same time the Supreme Majlis Nakchivan Autonomous Republic has proposed to Supreme Council of Azerbaijan SSR to recognise three-colored banner as the official banner of Azerbaijan. On February 5, 1991 the Supreme Council of the Republic of Azerbaijan has examined the proposal of the Supreme Majlis of the Nakchivan Autonomous Republic and has adopted a Decree to recognise three-coloured banner as the national banner of Azerbaijan.</p>
                            </div>
                            <div>
                                <h2>The State Emblem</h2>
                                <img style="margin-left:15px;" src="/uploads/msk_images/ad7274887575d6c2be876d8ebefc054b_5FE572-0B87AB-7D2407-4B37F0-CE4A26-46EF9E.png" alt="National Heraldry" width="250" align="right">
                                <p style="text-align:justify;">The State Emblem of the Republic of Azerbaijan is the symbol of independence of the Azerbaijani state.<br><br>The modern state emblem is a modified version of a draft coat of arm, which was created during the Azerbaijan Democratic Republic.<br><br>On 30 January 1920, the government of Azerbaijan Democratic Republic announced a competition on the best state emblem of Azerbaijan and made a decision that a sample of the emblem that wins the competition will be adopted on 28 May the same year. However, due to the collapse of the Azerbaijan Democratic Republic on 28 April 1920, it was impossible to adopt a decision relating to the National Emblem.<br><br>On 17 November 1990, the Supreme Assembly of the Nakhichivan Autonomous Republic, after having discussed the issue relating to the national emblem, appealed to the Supreme Soviet of Azerbaijan SSR on announcement of a new competition for the preparation of the national emblem of Azerbaijan.<br><br>The competition was announced on 5 February 1991, under the decision of the Supreme Soviet of Azerbaijan Republic. On 19 January 1993, under the Constitutional Law, one of the draft coats of arm developed in 1919-1920, with certain changes, was adopted as the State National Emblem of the Republic of Azerbaijan.<br><br>The Constitutional Law of the Republic of Azerbaijan on “Adoption of Description of State Emblem of the Republic of Azerbaijan” was passed on 2 November 2018.<br><br>Extract from the Constitutional Law of the Republic of Azerbaijan on “Adoption of Description of State Emblem of the Republic of Azerbaijan”<br><br>Article 1: General Description<br><br>1.1. The State Emblem of the Republic of Azerbaijan represents an image of oriental shield placed on the arch composed of oak branches and ears.<br><br>1.2. On the shield, against the background of colors of the State Flag of the Republic of Azerbaijan, there is an image of an eight-pointed star and in the center of the star there is an image of flame. In the colored description of the State Emblem of the Republic of Azerbaijan, the star is white, the flame is red, the oak branches are green, the ears are yellow, and the rims of the shield and the star, as well as rivets (8 pieces) and oak galls (5 pieces) are golden.<br><br>2. Article 2: Color, Colorless and Scheme Description<br><br>2.1. Regardless of its size, the State Emblem of the Republic of Azerbaijan must comply with the color, colorless and scheme descriptions attached.<br><br>2.2. In the preparation, correction, and printing of color images of the State Emblem of the Republic of Azerbaijan by industrial method, it must be ensured that the red color of the flame shall comply with Pantone 032C, green of oak branches shall comply with Pantone 7729C, yellow of the ears shall comply with Pantone 7548C, golden of the rims of the shield and the star, as well as rivets and oak galls shall comply with Pantone111C color of Pantone color book.</p>
                            </div>
                            <div>
                                <h2>The State Anthem</h2>
                                <p><strong>Music by:</strong> Useir Hajibeyov<br><strong>Words by:</strong> Ahmed Javad<br><br>Azerbaijan, Azerbaijan!<br>You are the country of heroes!<br>We will die so that you might be alive!<br>We will shed our blood to defend you!<br>Long live your three-coloured banner!<br>Thousands of people sacrificed their lives<br>You're become the field of battles.<br>Every soldier fighting for you,<br>Has become a hero.<br>We pray for your prosperity,<br>We make sacrifice our lives to you<br>Our sincere love to you,<br>Comes from the bottom of our hearts.<br>To defend your honour,<br>To hoist your banner,<br>All the young people are ready.<br>Glorious motherland,<br>Azerbaijan, Azerbaijan!</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>